body{
    background-color: white;
}

/* always remember this sequence. awa naabot nasad tag gabiing dako tungod ani */
/* - brint */
.center-content{
    margin: auto;
    width: 70vw;
    height: 80vh;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
    align-items: center;
    color: #2da8c9;
}

